Q 1.## What is 7 to the power of 4?

In [4]:
7**4

2401

## Q.2 Split this string into a list?
s="hi there yogesh!"

In [9]:
s="hi there yogesh!"

In [10]:
type(s)

str

In [11]:
s

'hi there yogesh'

In [12]:
s.split()

['hi', 'there', 'yogesh']

## Q.3 Given the variable planet="Earth" diameter="12742" use .format() to print the following string: the daimeter of earth is 12742 kilometers.

In [14]:
planet = "Earth"
diameter = 12742

In [15]:
'the diameter of {} is {} kilometer'.format(planet,diameter)

'the diameter of Earth is 12742 kilometer'

## Q.4 Given this nested list, use indexing to grab the word "hello"

In [16]:
list = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [18]:
list

[1, 2, [3, 4], [5, [100, 200, ['hello']], 23, 11], 1, 7]

In [19]:
list[3]

[5, [100, 200, ['hello']], 23, 11]

In [20]:
list[3][1]

[100, 200, ['hello']]

In [21]:
list[3][1][2]

['hello']

In [22]:
list[3][1][2][0]

'hello'

## Q.5 Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky?

In [23]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [24]:
d

{'k1': [1,
  2,
  3,
  {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

In [25]:
type(d)

dict

In [26]:
d[tricky][target][3]

NameError: name 'tricky' is not defined

In [28]:
d['k1']

[1,
 2,
 3,
 {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]

In [29]:
d['k1'][3]

{'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}

In [30]:
d['k1'][3]['tricky']

['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]

In [31]:
d['k1'][3]['tricky']

{'target': [1, 2, 3, 'hello']}

In [32]:
d['k1'][3]['tricky'][3]['target']

[1, 2, 3, 'hello']

In [27]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

## Q.6 What is the main difference between a tuple and a list? **

# Tuple is immutable

In [35]:
my_list1=[1,2,3,4,5]

In [36]:
my_list1

[1, 2, 3, 4, 5]

In [38]:
my_list1[2]='hello'

In [39]:
my_list1

[1, 2, 'hello', 4, 5]

In [40]:
my_tuple1=(11,22,33,44,55)

In [41]:
my_tuple1

(11, 22, 33, 44, 55)

In [43]:
my_tuple1[2]='hi'

TypeError: 'tuple' object does not support item assignment

## Q.7  Create a function that grabs the email website domain from a string in the form:

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [49]:
def demo(s):
    domain=""
    domain=s.split('@')[1]
    return domain

In [50]:
demo('abc@gmail.com')

'gmail.com'

## Q.8 Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization.

In [51]:
'dog' in 'this is a dogkjhvgy'

True

In [52]:
'dog' in ['hi','dog','bye']

True

In [53]:
'dog' not in ['hi','dog','bye']

False

In [54]:
'dog' in 'this is a dogkjhvgy'.split()

False

In [55]:
'this is a dogkjhvgy'.split()

['this', 'is', 'a', 'dogkjhvgy']

In [56]:
'dog' in 'this is a Dog dogkjhvgy'.lower()

True

In [57]:
'this is a Dog dogkjhvgy'.lower().split()

['this', 'is', 'a', 'dog', 'dogkjhvgy']

In [60]:
def dog_find(s):
    return 'dog' in s.lower().split()

In [61]:
dog_find('this Dog is faster than that dog')

True

## Q.9 Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [6]:
def countdog(s):
    count= 0
    for word in s.lower().split():
        if word =='dog':
            count += 1
    return count

In [7]:
countdog('this dog runs faster than the other dog dude!')

2

## Q.9 Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.
seq = ['soup','dog','salad','cat','great']
  ## should be filtered down to:

['soup','salad']

In [11]:
seq=['soup','dog','salad','cat','great']
list(filter(lambda word:word[0]=='s',seq))

['soup', 'salad']

## Q.10 Final Problem
*You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. *

In [27]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
            
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [28]:
 caught_speeding(81,True)

'Small Ticket'

In [31]:
caught_speeding(81,False)

'Big Ticket'

1.Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in 
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [37]:
s=input("enter the input: ")
num=""
a=[0,1,2,3,4,5,6,7,8,9]
while s=="":
    s=input("please enter some input: ")
else:
    if s[0]=='-':
        num=num+s[0]
    for c in s:
        if c in str(a):
                num=num+c
    print(num)

enter the input: fhkjmkd8765
8765

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [3]:
num1=input("enter the number:")
num2=int(num1[::-1])
num3=str(int(num1)+num2)
while num3!=num3[::-1]:
    num3=str(int(num3)+int(num3[::-1]))
    print("number is :",num3)
    print("reverse is :",num3[::-1])
print("reverse is :",num3)

enter the number:76
number is : 484
reverse is : 484
reverse is : 484

In [ ]:
Q3.Write a python function to find and display the five 
digit number in which the first digit is two more than 
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the 
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [4]:
def find_five_digit():
    for i in range(0,9,1):
        a = i
        b = i-2
        c = i-4
        d = i-6
        e = i-4
        if(c+d+e == a):
            if(a+b+c+d+e == 19):
                return int(str(a)+str(b)+str(c)+str(d)+str(e))

In [5]:
print(find_five_digit())

75313